<template>
    <div class="slds-size_2-of-4 slds-text-align_center" style="margin: 0 auto;">
        <div class="slds-box slds-box_x-small slds-text-align_center slds-m-around_x-small">
            <lightning-card>
                <h1 align="center" style="color: rebeccapurple;font-size:x-large">Hey <b>{name}!!</b> </h1>
                <h1 align="center" style="color: rebeccapurple;font-size:x-large"><b>Welcome To Sports Mania</b> </h1>
            </lightning-card>

            <lightning-carousel>

                <lightning-carousel-image src={img1} header="Your Dream Event"
                    description="First card description." alternative-text="First card accessible description."
                    href="https://www.example.com">Heyyyyy
                </lightning-carousel-image>
                <lightning-carousel-image src={img2} header="Second Card" description="Second card description."
                    alternative-text="Second card accessible description." href="https://www.example.com">
                </lightning-carousel-image>
                <lightning-carousel-image
                    src="https://www.lightningdesignsystem.com/assets/images/carousel/carousel-03.jpg"
                    header="Third Card" description="Third card description."
                    alternative-text="Third card accessible description." href="https://www.example.com">
                </lightning-carousel-image>
            </lightning-carousel>
        </div>
    </div>
</template>